################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Server/ShantiTirttula.Server.Domain/.vs
/Server/ShantiTirttula.Server.Domain/ShantiTirttula.Server.Api/obj
/Server/ShantiTirttula.Server/.vs/ShantiTirttula.Server
/Server/ShantiTirttula.Server/ShantiTirttula.Server.Api/bin/Debug/net6.0
/Server/ShantiTirttula.Server/ShantiTirttula.Server.Api/obj
/Server/ShantiTirttula.Server/ShantiTirttula.Server.Api/Properties/launchSettings.json
/Server/ShantiTirttula.Server/.vs/ProjectEvaluation
/Server/ShantiTirttula.Server/ShantiTirttula.Server.Dispatcher/bin/Debug/net6.0
/Server/ShantiTirttula.Server/ShantiTirttula.Server.Dispatcher/obj
/Server/ShantiTirttula.Server/packages
/Server/ShantiTirttula.Server/ShantiTirttula.Simulator/bin/Debug
/Server/ShantiTirttula.Server/ShantiTirttula.Simulator/obj/Debug
/Server/ShantiTirttula.Server/ShantiTirttula.Server.Api/bin/Debug/net7.0
/Server/ShantiTirttula.Server/ShantiTirttula.Server.Api/bin/Release/net7.0
/Server/ShantiTirttula.Server/ShantiTirttula.Server.Api/deployscript.sh
/Server/ShantiTirttula.Server/ShantiTirttula.Simulator/obj/Release
/Server/ShantiTirttula.Server/ShantiTirttula.Server.Dispatcher/bin/Debug/net7.0
/create_vm_string.sh
/Server/ShantiTirttula.Server/ShantiTirttula.Server.Dispatcher/Properties/PublishProfiles/yc_disp_publish.pubxml.user
